/* google font */
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

/* css reset */
  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    font-family: 'Raleway', sans-serif;
    width: 100%;
    height: auto;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #083a51;
    color: #fff;
    font-size: 1.2vw;
   }

  #heading {
    max-width: 750px;
    margin: 4rem auto;
    padding: .6rem;
  }
  #main {
      padding: 0% 20% 0% 20%;
  }

  #title {
    font-size: 2.2rem;
    text-align: center;
    line-height: 1.2;
    padding: .6rem;
  }

  #description {
    font-size: 1.1rem;
    text-align: center;
    padding: .2rem;
  }

  #survey-form {
    background-color: #2222425d;
    padding: 3rem 2.5rem;
    border-radius: 7px;
  }

  #submit {
    background: #22d87d;
    color: #fff;
    padding: .7rem;
    font-size: 1.15rem;
    cursor: pointer;
  }

  #submit:hover {
    background: rgb(9, 168, 89);
  }

.form {
  width: 100%;
  padding: .7rem;
  border-radius: 6px;
  font-size: 1.0rem;
  border: none;
}

input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=email] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=number] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type="radio"] {
  /* ...existing styles */
  display: grid;
  place-content: center;
}

input[type="radio"]::before {
  content: "";
  width: 0.65em;
  height: 0.65em;
  border-radius: 50%;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em var(--form-control-color);
}

input[type="radio"]:checked::before {
  transform: scale(1);
}

input[type=submit] {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

  @media only screen and (max-width:480px){

  #main {
    padding: 0% 0% 0% 0%;
    }
  }